
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/more.css') }}">
</head>
<body>

   <header>
        <div class="row">
              <div class="logo">
              <img src="static/css/logo.svg">
        </div>
        <div class="header">
          <h1>Explore More About Ukraine In Mass-Media</h1>
        </div>
        <div>
        <ul class="main-nav">
            <li class="active"><a href="/">HOME</a> </li>
            <li><a href="/news">FIND THE ARTICLES</a></li>
            <li><a href="/results">THE RESULTS OF PROVIDED RESEARCH</a> </li>

        </ul>

        </div>
        </div>
   </header>
        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>WHAT IS PUBLIC OPINION AND WHY IT IS IMPORTANT?</h2>
              <p>Public opinion -  is the collective opinion of the people of a society or state on an issue or problem. 
                In the modern world, where the quality of information technology and its use increasingly determine the nature of society, 
                the question about how the media shape public opinion is really very important. 
              </p>
            </div>
            <div class="card">
              <h2>WHAT CAN YOU FIND HERE?</h2>
              <p>Our team understands that the flow information in the 21 century is so diverse and contradictory 
                that it is very difficult for an ordinary person to understand it on their own, which can often 
                lead to misinformation and falling under the influence of propaganda. This happens very often, 
                because even in domestic TV and radio broadcasts and in the columns of the print media there is 
                information that compromises the government and its own country in the eyes of citizens, creates 
                an unconstructive and inadequate image of Ukraine, its daily life and prospects.
                That’s why, we decided to study this question, which later lead to this project, that you see now 
                on your screen. So, here you can find out how the realities of Ukraine are covered by foreign media. 
                Despite the excitement caused by Ukrainian events in recent years in the world media, interest is gradually 
                declining. However, the question of how our realities are covered by foreign media and whether Ukraine is present 
                in the Western information space has always been and remains open to most people. We examined the Western mass-media and 
                chose for you some of the best and the most known news sources in the world including BBC News, Google News, ABC News, 
                Business Insider and many others. All this you can find on ‘Find the articles’ page.
                Finally, after reading the news, you may be interested in some analysis based on the information 
                that you have already read. Click on the ‘The results of provided research’ button and you will find out on which day 
                there was the biggest number of articles about Ukraine. Or maybe you will be interested about the news sources which has 
                published the biggest number of articles about Ukraine. Or what word the Western mass media has used the most when speaking 
                about Ukraine?
                </p>
            </div>
              <div class="card">
              <h2>SO...?</h2>
              <p>All this information you can find out on this site. So enjoy your time and be aware of all the latest news in the world!</p>
            </div>
          </div>
          </div>


        <div class="footer">
          <h3>© 2020 UCU</h3>
        </div>
</body>
</html>