<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="row">
              <div class="logo">
              <img src="static/css/logo.svg">
        </div>
        <ul class="main-nav">
            <li class="active"><a href="">HOME</a> </li>
            <li><a href="/news">FIND THE ARTICLES</a></li>
            <li><a href="/results">THE RESULTS OF PROVIDED RESEARCH</a> </li>

        </ul>

        </div>

        <div class="hero">
            <h1>UKRAINE IN MASS-MEDIA</h1>
                <div class="button">
                    <a href="/explore_more" class="btn btn">Explore More</a>
                </div>
        </div>


    </header>

</body>
</html>