*
{
    margin: 0;
    padding: 0;
}

.main-nav
{
    float:right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    border: 1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white;
}
.logo img
{
    width: 230px;
    height: auto;
    float: left;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background: 	linear-gradient(rgba(150, 203, 247, 0.788),rgba(255, 255, 255, 0.5)),url("white_back.jpg");
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding:20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3
{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: auto;
    height: 200px;
}


